/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background-color: #269CEB;
}

select {
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 34px; 
  background-color: white;
  option {
    text-align: center;
  }
  width: 30%;
}

.featured {
	color: #C9E0F5;
	margin-bottom: 35px;
}

input {
  button {
    height: 34px;
    background-color: white;
    vertical-align: middle;
  }
}

.icon {
  padding-right: 3px;  
}

.images {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 2;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.image-description {
	text-align: center;
	background-color: #BEDDF7;
	border-top:4px solid white;
	border-right:3px solid white;
}

.image-show {
  width: 330px;
  border: 2px solid #bce8f1;
  border-radius: 4px;
}

.panel-heading {
  font-size: 250%;
  font-weight: bold;
}

.star-rating {
  font-size: 50%;
}

